{% extends 'base.html' %}

{% block head %}
<title>국회 받아치기</title>
<script type="text/javascript">
    const live_key = '{{ live_key }}';
</script>
<script src="{{ url_for('static', filename='js/sihwang.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sihwang.css') }}">
{% endblock head %}

{% block header %}
<button class="nav-icon"><img src="{{ url_for('static', filename='images/nav_icon.svg') }}" alt=""></button>
{% endblock header %}

{% block body %}
<section class="today-menu">
    <h2 class="today-menu-title">{{ date_reform }}<br>오늘의 생중계</h2>
    <a class="back-to-home" href="/donga/gookhwe/{{date0}}">전체보기<img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt=""></a>
    <article class="menu-caution-wrap">
        <ul class="today-stenography-menu">
            {% for obj in objs_list %}
            {% if obj.xname == objs.xname %}
            <li class="today-stenography-info-wrap now-stenography">
                <p>{{obj.xname}}</p>
                <p>{{obj.xsubj}}</p>
            </li>
            {% elif obj.active == "True" %}
            <li class="today-stenography-info-wrap">
                <a href="/donga/gookhwe/{{date0}}/{{obj.xcode}}">
                    <p>{{obj.xname}}</p>
                    <p>{{obj.xsubj}}</p>
                </a>
            </li>
            {% else %}
            <li class="today-stenography-info-wrap active-false">
                <p>{{obj.xname}}</p>
                <p>{{obj.xsubj}}</p>
                <span class="stenography-x">속기록 없음</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <p class="ai-caution"><img src="{{ url_for('static', filename='images/caution_icon.svg') }}" alt=""><span>AI는 실수를 할 수 있습니다.</span><br>(속기록의 경우 인명 및 고유명사 등) 정확한 정보는 확인이 필요합니다.</p>
    </article>
</section>
<button class="toggle-btn"><img src="{{ url_for('static', filename='images/toggle_btn.png')}}" alt=""></button>
<section class="stenography-content">
    <ul class="stenography-content-info">
        <li>{{objs.xname}}</li>
        <li class="stenography-state">{{objs.xdesc}}</li>
        <li class="timer"><span class="spare-time">30초</span> 뒤에 내용<span>이</span> 자동<span>으로</span> 새로고침<span>됩니다.</span></li>
    </ul>
    <p class="stenography-title">{{objs.xsubj}}</p>
    <ul class="stenography-content-header">
        <li class="on">속기록 내용</li>
        <li>
            <button class="button copy on"><img src="{{ url_for('static', filename='images/copy_icon.svg')}}" alt="">클립보드에 복사하기</button>
        </li>
        <li>AI 요약</li>
    </ul>
    <div id='content_box' class="on"></div>
</section>
<section class="stenography-summary">
    <ul class="stenography-summary-header">
        <li>AI 요약</li>
        <li>5000자마다 AI가 요약한 내용을 제공합니다.</li>
    </ul>
    <article id="summary_box">
        <ul id="summary-list"></ul>
    </article>
</section>
<div class="black-modal"></div>

<!-- {% for pagename in pagenames %}
<a href='/bot_v3/{{pagename}}/'>{{pagename}}</a>
{% endfor %} -->

{% endblock body %}