<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>국회 받아치기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script type = "text/javascript">
        var brod = '{{ brod }}';

    </script>
    <script src="{{ url_for('static', filename='js/sihwang.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sihwang.css') }}"></script>
    <!-- <script>
    	$(document).ready(function(){
    		$('#{{id_0}}').addClass('dangbun')

    	})

    </script> -->
</head>
<body>
<h3>{{objs.xname}}</h3>



<!--<h5>출발·마감 속보 자동송고, 공시 AI 뉴스봇, 빅데이터분석 관련 개발 문의 //kakao: suhcrates1</h5>-->
<h5>{{objs.xsubj}}  // 상태 : {{objs.xdesc}}</h5>
<h5><a href="http://13.124.48.9:5236/donga/gookhwe">홈으로 돌아가기</a></h5>

<!-- <h3>   ++ {{brod}} 방송 보고 작성++</h3> -->

<!-- <div id="make_box" state="{{state}}">작성버튼</div> -->

<button class ="copy"> 클립보드에 복사 </button>
<!-- <div><p>최신 작성 일시::   <span id='now'>{{now}}</span></p><pr>
<p>※ 오늘자 뉴스 끝났는지 확인하세요~ </p></div><br> -->

<div id='content_box' style="width:600px; height:600px; overflow-y:auto; border:1px solid black">{{article | safe}}</div>  <!--이렇게 해야 html 그대로 노출됨.-->
<button class ="copy"> 클립보드에 복사 </button>
<br>
<p>※문제가 있으면 알려주세요 </p>

<h5>문의 : DX본부 (담당자: 서영빈, 남기동)</h5>
</body>
</html>