<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>당번</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script type = "text/javascript">
        var brod = '{{ brod }}'
    </script>
    <script src="{{ url_for('static', filename='js/sihwang.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sihwang.css') }}"></script>
    <!-- <script>
    	$(document).ready(function(){
    		$('#{{id_0}}').addClass('dangbun')

    	})

    </script> -->
</head>
<body>
<h1>당번</h1>
<p>개발자: 경제부 서영빈</p>
<!--<h5>출발·마감 속보 자동송고, 공시 AI 뉴스봇, 빅데이터분석 관련 개발 문의 //kakao: suhcrates1</h5>-->
<p>오전 10시 ~ 익일 오전 1시 까지만 열림</p>

<hr>
<p>※※※※※※ 잘 안되면 shit + ctrl + R 을 눌러보세요 ※※※※※※</p>
<br>
<a href="http://testbot.ddns.net:5234/donga/dangbun/">홈으로 돌아가기</a>
<!-- <h3>   ++ {{brod}} 방송 보고 작성++</h3> -->

<!-- <div id="make_box" state="{{state}}">작성버튼</div> -->

<p>※문제가 있으면 알려주세요 kakao id: suhcrates1  </p>
<button id ="copy"> 클립보드에 복사 </button>
<!-- <div><p>최신 작성 일시::   <span id='now'>{{now}}</span></p><pr>
<p>※ 오늘자 뉴스 끝났는지 확인하세요~ </p></div><br> -->

<div id='content_box' style="display:block; width:600px; border:1px solid black">{{article | safe}}</div>  <!--이렇게 해야 html 그대로 노출됨.-->
<br>


</body>
</html>